@using MyABP.Entities

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>
    @{
        foreach (USERS users in ViewBag.Users)
        {
  @users.USER_NAME
        }
    }
</div>
</body>
</html>
